$backgroundColor: #f0f2f5;
$asset1: #335485;
$defaultColor: rgb(133, 146, 158);
$backgroundColor: #3a32a8;
$brandColor: rgb(255, 165, 0);
$secondaryBrandColor: #194589;
$asset2: #1c2e4a;
$sideBarColor: #194589;
