::-webkit-scrollbar {
  width: 8px !important;
  height: 10px !important;
}
::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.308);
  border-radius: 6px;
  border: 1px solid #fff;
}
.overflow-auto {
  overflow-y: auto !important;
  overflow-x: auto !important;
}

@media (min-width: 768px) and (min-height: 1024px) {
  ::-webkit-scrollbar-track {
    background-color: transparent !important;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  ::-webkit-scrollbar-track {
    background-color: transparent !important;
  }
}
