.layout{
    height: 100vh;
    overflow: auto;

    .site-layout-content {
        min-height: 280px;
        padding: 24px;
        background: #fff;
      }
  .navLink{
    padding: 0px 20px;
    a{
      color: white !important;
      text-decoration: none !important;
    }

    button{
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      color: white !important;
      text-decoration: none !important;
    }
 
  }
}